{% extends 'base.html.twig' %}

{% block title %}Gestionnaire d'interventions{% endblock %}

{% block body %}
    {% for intervention in interventions %}
        <div class="container">
            <div class="card">
                <h3 class="card-title">Intervention</h3>
                <div class="card-body">
                    <p>Technicien : {{ intervention.tech_email }} <br/>
                        Client : {{ intervention.client_email }} <br/>
                        Date :{{ intervention.date }}
                    </p>
                    {% if intervention.is_terminated %}
                        <p>Terminée</p>
                    {% else %}
                        <p>Programée</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
